<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" strict="true" explicit="true" targetFramework="4.0"/>   
	</system.web>
  
	<system.webServer>
		<handlers>
			<add name="AtomPub" path="atompub" verb="*" type="MyAtomPubHandler" resourceType="Unspecified" preCondition="integratedMode" />
		</handlers>
	
    <modules>
			<remove name="WebDAVModule"/>
		</modules>
	</system.webServer>
</configuration>
